<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Colors
    </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li [class]="getAllColorClass()" routerLink="/cars">All Colors</li>
  <li
    (click)="setCurrentColor(color)"
    routerLink="/cars/color/{{ color.colorId }}"
    [class]="getCurrentColorClass(color)"
    *ngFor="let color of colors"
  >
    {{ color.colorName }}
  </li>
</ul>
</li>