<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >RentalCar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">MainPage</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
            <app-brand></app-brand>
      
          
           <app-color></app-color>
      
        <li class="nav-item">
          
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" [formGroup]="loginForm" *ngIf="showForm">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <button class="btn btn-outline-success"  (click)="login()" routerLink="cars">Login</button>
        <button class="btn btn-outline-success" routerLink="register"  type="submit">Register</button>
      </form>
      <div class="btn-group" *ngIf="userName">
        <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
         Welcome {{userName}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" >{{user.firstName}}</a></li>
          <li><a class="dropdown-item" >{{user.lastName}}</a></li>
          <li><a class="dropdown-item" >{{user.email}}</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" routerLink="/user/update">Edit</a></li>
          <li><a class="dropdown-item" (click)="logout()">Exit</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>