<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Brands
  </a>
<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
  <li [class]="getAllBrandClass()" routerLink="/cars">All Brands</li>
  <li
    (click)="setCurrentBrand(brand)"
    routerLink="/cars/brand/{{ brand.brandId }}"
    [class]="getCurrentBrandClass(brand)"
    *ngFor="let brand of brands"
  >
    {{ brand.brandName }}
  </li>
</ul>
</li>