<div class="row" style="padding-bottom: 50px">
  <table
    class="table table-striped"
    style="text-align: center; vertical-align: middle"
  >
    <thead>
      <th>Car Name</th>
      <th>Brand Name</th>
      <th>Color Name</th>
      <th>Model Year</th>
      <th>Description</th>
      <th>Daily Price</th>
      <th>Total Price</th>
    </thead>
    <tbody>
      <tr *ngFor="let car of carDetail">
        <td>{{ car.carName }}</td>
        <td>{{ car.brandName }}</td>
        <td>{{ car.colorName }}</td>
        <td>{{ car.modelYear }}</td>
        <td>{{ car.description }}</td>
        <td>{{ car.dailyPrice }}</td>
        <td>{{ car.dailyPrice | calculateTotalPrice: day | currency }}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-md-12">
    <form>
      <table
        class="table table-striped"
        style="text-align: center; vertical-align: middle"
      >
        <thead>
          <th><label>Rent Date</label></th>
          <th><label>Return Date</label></th>
        </thead>

        <tbody>
          <tr>
            <td>
              <input
                type="date"
                (change)="calculateTotalPrice()"
                [(ngModel)]="rentDay"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <input
                type="date"
                (change)="calculateTotalPrice()"
                [(ngModel)]="returnDay"
                [ngModelOptions]="{ standalone: true }"
              />
            </td>
            <td>
              <button
                (click)="setPayString()"
                type="button"
                class="btn btn-primary"
              >
                Pay
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div
    *ngIf="pay"
    style="padding-top: 50px; padding-left: 200px; padding-right: 200px"
  >
    <form class="row g-3" [formGroup]="rentalAddForm">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="firstName" class="form-control" id="firstName"  formControlName="firstName"/>
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="lastName" class="form-control" id="lastName" formControlName="lastName" />
      </div>
      <div class="col-12">
        <label for="creditCardNumber" class="form-label" >Credit Card</label>
        <input
          type="creditCardNumber"
          class="form-control"
          id="creditCardNumber"
          formControlName="creditCardNumber"
          placeholder="1111-1111-1111-1111"
        />
      </div>
      <div class="col-md-3">
        <label for="yearNumber" class="form-label">Valid Thru Year</label>
        <input
          type="yearNumber"
          class="form-control"
          id="yearNumber"
          formControlName="yearNumber"
          placeholder="21"
        />
      </div>
      <div class="col-md-3">
        <label for="monthNumber" class="form-label">Valid Thru Month</label>
        <input
          type="monthNumber"
          class="form-control"
          id="monthNumber"
          formControlName="monthNumber"
          placeholder="3"
        />
      </div>
      <div class="col-md-3">
        <label for="cvcNumber" class="form-label">CVC</label>
        <input
          type="cvcNumber"
          class="form-control"
          id="cvcNumber"
          formControlName="cvcNumber"
          placeholder="111"
        />
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Billing Adress</label>
        <input
          type="text"
          class="form-control"
          id="billingAdress"
          placeholder="Enter Your Adress"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>İzmit</option>
          <option>Gölcük</option>
          <option>Yazlık Yeni Mah.</option>
          <option>Değirmendere</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <span *ngFor="let car of carDetail" class="input-group-text">{{
          car.dailyPrice | calculateTotalPrice: day
        }}</span>
      </div>
      <div style="text-align: right">
        <button type="submit" class="btn btn-primary" (click)="rentalCar()">
          Confirm
        </button>
      </div>
      <div style="text-align: right">
        <button type="submit" type="button" class="btn btn-danger">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
