<div class="row" style="padding-bottom: 50px">
  <div class="col-lg-12">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let carImage of carImages"
          [class]="getCurrentSliderImageClass(carImage)"
        >
          <img
            src="{{ imageBaseUrl + carImage.imagePath }}"
            class="d-block w-100"
            style="height: 500px"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
<div class="mb-3">
  <h6 for="filterText" class="form-label">Search Car</h6>
  <input
    type="text"[(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="enter text for search car"
  />
</div>
<div class="row" style="text-align: center;">
  <div class="col-md-6">
    <form [formGroup]="brandForm" (ngSubmit)="getBrandSubmit()">
      <p>
       
        <select formControlName="brand">
          <option [ngValue]="null" disabled>Select Brand</option>
          <option *ngFor="let brand of brands" [ngValue]="brand.brandId">{{brand.brandName}}</option>
        </select>
       
        <button type="getBrandSubmit">Filter Brand</button>
      </p>
       
      </form>
  </div>
  <div class="col-md-6" style="text-align: center;">
    <form [formGroup]="colorForm" (ngSubmit)="getColorSubmit()">
      <p>
       
        <select formControlName="color">
          <option [ngValue]="null" disabled>Select Color</option>
          <option *ngFor="let color of colors" [ngValue]="color.colorId">{{color.colorName}}</option>
        </select>
       
        <button type="getColorSubmit">Filter Color</button>
      </p>
       
      </form>
  </div>
</div>

  
<div class="row">
 
</div>
<div class="row">
<div class="col-md-6 col-lg-3 " *ngFor="let car of cars | filterPipe: filterText">
  <div class="w3-card">
    <h4 align="left">{{ car.brandName }}</h4>
    <img class="img-fluid" src="{{ imageBaseUrl + car.imagePath }}" style="height: 200px; width: 480px;" alt="">
    <h4 align="center" routerLink="/cars/car/{{ car.carId }}">{{ car.carName }}</h4>
    <p align="center">{{ car.description }}</p>
    <p align="center">{{ car.modelYear }}</p>
    <p align="center">{{ car.colorName }}</p>
    <h5 align="center">{{ car.dailyPrice |  currency }} Per Day</h5>
    <p align="center"><button routerLink="/cars/rental/{{car.carId}}"class="btn btn-success">Rent Car</button></p>
  </div>
</div>
</div>
<br>